/* =====================================
   LOGIN PAGE
   Blossom Cafe
===================================== */

.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:420px;
    border-radius:20px;
}
.login-card{

    background:#fff;

    border:none;

}

.login-card img{

    width:100px;

}

.btn-danger{

    background:#EC407A;

    border:none;

}

.btn-danger:hover{

    background:#D81B60;

}
