/* =====================================
   LOGIN PAGE
   Blossom Cafe
===================================== */

.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:420px;
    border-radius:20px;
}
